@model Beauty.Data.Hizmet

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Hizmet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Had)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Had)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Fiyat)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fiyat)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Hno">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
